.home-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

h1, h2 {
  color: beige;
  margin: 0;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: rgb(10, 22, 22);
  margin: 0;
}

.loading {
  color: beige;
}