.media-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgb(10, 22, 22);;
  width: 15rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.poster-fig {
  margin: 0;
  padding: 0;
}

.poster-fig img {
  height: 20rem;
  border-radius: 0.5rem;
}

.media-title {
  font-size: 1rem;
  color: beige;
  margin: 0;
}

.media-card p {
  font-size: 0.8rem;
  color: beige;
  margin: 0;
}

.media-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bottom-div {
  display: flex;
  gap: 0.8rem;
}

.like-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-btn {
  border-radius: 0.7rem;
  border: none;
  background-color:beige;
  height: 2.5rem;
  font-weight: 700;
  color: rgb(10, 22, 22);
}

.like-btn:hover {
  cursor: pointer;
  color: beige;
  background-color:rgb(196, 30, 30);
}